@import url('reset.css');
div.cntWrap{
    margin-top: 120px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{
    text-align: center;
}
div.cntWrap>div.content>div.header>h2{
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.header>p{
    width: calc(100% / 12 * 6);
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}
div.cntWrap>div.content>div.section{
    margin-top: 40px;
    height: 240px;
}
div.cntWrap>div.content>div.section>div.article{
    width: calc(100% / 5 - 20px);
    margin: 0 10px;
    height: 240px;
    float: left;
}
div.cntWrap>div.content>div.section>div.article:hover>div.texts{
    background-color: rgba(255,255,255,0.3);
    margin-top: -240px;
}
div.cntWrap>div.content>div.section>div.article>div.image{
    width: 100%;
    height: 240px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.cntWrap>div.content>div.section>div.article>div.image.i1{
    background-image: url('../image/94791915567609280.jpg');
    transition: background-image 0.5s;
}
div.cntWrap>div.content>div.section>div.article:hover>div.image.i1{
    background-image: url('../image/mom-4211827_1920.jpg');
    background-position: top;
}
div.cntWrap>div.content>div.section>div.article>div.image.i2{
    background-image: url('../image/raspberries-2023404_1920.jpg');
}
div.cntWrap>div.content>div.section>div.article>div.image.i3{
    background-image: url('../image/해파리\ \(1\).jpg');
}
div.cntWrap>div.content>div.section>div.article>div.image.i4{
    background-image: url('../image/9.png');
}
div.cntWrap>div.content>div.section>div.article>div.image.i5{
    background-image: url('../image/조개\ \(3\).jpg');
}

div.cntWrap>div.content>div.section>div.article>div.texts{
    width: 100%;
    height: 240px;
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(85,69,93,0.7);
    transition: all 0.5s;
}


div.cntWrap>div.content>div.section>div.article>div.texts>h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
    height: 100px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
}