@import url('reset.css');
@import url('all.css');

div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 120px;
}
div.content>div.header{
    width: calc(100% / 12 * 5);
    text-align: center;
    margin: 0 auto;
}
div.content>div.header>h2{
    font-size: 35px;
    line-height: 80px;
    font-weight: 700;
    text-transform: capitalize;
}
div.content>div.header>p{
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
}
div.content>div.section{
    margin-top: 80px;
}
div.content>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    height: 240px;
    background-color: #ccc;
    float: left;
    overflow: hidden;
}
div.content>div.section>div.article>div.image{
    width: 100%;
    height: 240px;
    background-color: #fc0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.content>div.section>div.article:nth-of-type(1)>div.image{
    background-image: url('../image/1.jpg');
}
div.content>div.section>div.article:nth-of-type(2)>div.image{
    background-image: url('../image/8.jpg');
}
div.content>div.section>div.article:nth-of-type(3)>div.image{
    background-image: url('../image/drink-1487304_640.jpg');
}
div.content>div.section>div.article:nth-of-type(4)>div.image{
    background-image: url('../image/people-2566855_1920.jpg');
}
div.content>div.section>div.article>div.texts{
    width: 100%;
    height: 240px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    padding: 40px 30px 60px 30px ;
    transition:margin-top 0.5s;
}
div.content>div.section>div.article:hover>div.texts{
    margin-top: -240px;
}
div.content>div.section>div.article>div.texts>h3{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 40px;
}
div.content>div.section>div.article>div.texts>p{
    height: 80px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
}