@import url('reset.css');
@import url('all.css');

body{
    position: relative;
}
div.wrap{
    width: 500px;
    height: 300px;
    background-color: deepskyblue;
    position: relative;
}
div.wrap>div.box{
    width: 250px;
    height: 200px;
    position: absolute;
}
div.wrap>div.box:nth-of-type(1){
    background-color: forestgreen;
    top: 0;
    left: 0;
    z-index:1;
}
div.wrap>div.box:nth-of-type(2){
    background-color: darkmagenta;
    right: 0;
    bottom: 0;
}
div.wrap>div.box:nth-of-type(3){
    background-color: darksalmon;
    margin: auto;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 2;
}