@import url('all.css');
@import url('reset.css');

/* 메뉴 탑 */
div.mnTopWrap{
    background-color: #000;
    color: #fff;
    height: 40px;
}
div.mnTopWrap>div.mnTop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.mnTopWrap>div.mnTop>div.sns{
    float: left;
}
div.mnTopWrap>div.mnTop>div.sns>i{
    line-height: 40px;
    cursor: pointer;
}
div.mnTopWrap>div.mnTop>ul.nav{
    float: right;
}
div.mnTopWrap>div.mnTop>ul.nav>li{
    float: left;
    line-height: 40px;
    margin-left: 35px;
    cursor: pointer;
}

/* 헤더 */
div.hdrWrap{
    background: linear-gradient(90deg, #938a9b 0% , #d5bdd2 100%);
    height: 80px;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: #fff;
}
div.hdrWrap>div.header>h1{
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 80px;
    cursor: pointer;
}
div.hdrWrap>div.header>ul.nav{
    float: right;
    text-transform: uppercase;
}
div.hdrWrap>div.header>ul.nav>li{
    float: left;
    line-height: 80px;
    margin-left: 50px;
    cursor: pointer;
}

/* 공통 컨테츠 */
div.cntWrap{}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntWrap>div.content>div.header{}
div.cntWrap>div.content>div.header>h2{
    font-size: 36px;
    line-height: 80px;
    text-align: center;
    text-transform: capitalize;
}
div.cntWrap>div.content>div.header>p{
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    width: calc(100% / 12 * 4.5);
    margin: 0 auto;
    text-align: center;
}
div.cntWrap>div.content>div.section{
    margin-top: 80px;
}
div.cntWrap>div.content>div.section>div.article{}
div.cntWrap>div.content>div.section>div.article>div.image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ccc;
}
div.cntWrap>div.content>div.section>div.article>div.texts{}
div.cntWrap>div.content>div.section>div.article>div.texts>h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>h5{
    font-size: 12px;
    font-weight: 700;
    line-height: 40px;
}
div.cntWrap>div.content>div.section>div.article>div.texts>p{
    font-size: 14px;
    line-height: 20px;
}

/* 컨텐츠 01 */
div.cntWrap:nth-of-type(3){
    margin-top: 160px;
}
div.cntWrap>div.content.cnt01{}
div.cntWrap>div.content.cnt01>div.header{}
div.cntWrap>div.content.cnt01>div.header>h2{}
div.cntWrap>div.content.cnt01>div.header>p{}
div.cntWrap>div.content.cnt01>div.section{
    height: 1160px;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    float: left;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-of-type(1){
    width: calc(50% - 20px);
    margin: 0 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-of-type(2){
    width: calc(50% - 20px);
    margin: 0 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-of-type(2)~div.article{
    width: calc(100% / 3 - 20px);
    margin: 0 10px;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 320px;
    width: 100%;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-of-type(2)~div.article>div.image{
    height: 340px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i5{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    padding: 20px 0 0 calc(100% / 6 * 0.5);
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-of-type(2)~div.article>div.texts{
    text-align: center;
    padding: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
   width: calc(100% / 6 * 3.5);
   height: 80px;
   overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-of-type(2)~div.article>div.texts>p{
    width: 100%;
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-of-type(2)~div.article>div.texts>h5{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.sns{
    height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>div.sns>i{
    line-height: 40px;
    font-size: 25px;
    margin: 0 5px;
    cursor: pointer;
}

/* 컨텐츠 02 */
div.cntWrap:nth-of-type(4){
    margin-top: 160px;
}
div.cntWrap>div.content.cnt02{
    width: 100%;
    max-width: none;
}
div.cntWrap>div.content.cnt02>div.header{
    height: 560px;
    width: 100%;
    background-color: #92899b;
    padding-top: 160px;
    color: #fff;
}
div.cntWrap>div.content.cnt02>div.header>h2{}
div.cntWrap>div.content.cnt02>div.header>p{
    width: calc(80% / 12 * 8);
}
div.cntWrap>div.content.cnt02>div.section{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    margin-top: -200px;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    height: 400px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    width: 50%;
    float: left;
    height: 400px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    width: 50%;
    float: left;
    height: 400px;
    text-align: center;
    padding: 80px calc(100% / 12);
    background-color: #fff;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h3{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>h5{}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>button{
    margin-top: 20px;
    width: calc(100% / 4 * 2 + 20px);
    line-height: 40px;
    border-radius: 20px;
    border:0;
    background-color: #55455d;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
}

/* 컨텐츠 03 */
div.cntWrap:nth-of-type(5){
    margin-top: 320px;
}
div.cntWrap>div.content.cnt03{}
div.cntWrap>div.content.cnt03>div.header{}
div.cntWrap>div.content.cnt03>div.header>h2{}
div.cntWrap>div.content.cnt03>div.header>p{}
div.cntWrap>div.content.cnt03>div.section{
    height: 240px;
}
div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    float: left;
    height: 240px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    width: 100%;
    height: 240px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i3{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i4{}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    width: 100%;
    height: 240px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    padding: 40px 20px 60px 20px;
    transition: margin-top 0.5s;
}
div.cntWrap>div.content.cnt03>div.section>div.article:hover>div.texts{
    margin-top: -240px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>h3{
    text-transform: capitalize;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>p{
    height: 80px;
    overflow: hidden;
    margin-top: 20px;
}

/* 푸터 */
div.ftrWrap{
    margin-top: 160px;
    background: linear-gradient(90deg,#998fa1 0%, #d6bed3 100%);
    padding: 80px 0;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.ftrWrap>div.footer>h1{
    line-height: 80px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
div.ftrWrap>div.footer>p{
    height: 40px;
    width: calc(100% / 12 * 6);
    margin: 0 auto;
    overflow: hidden;
    line-height: 20px;
    font-size: 14px;
}
div.ftrWrap>div.footer>div.sns{
    text-align: center;
    line-height: 80px;
    font-size: 30px;
}
div.ftrWrap>div.footer>div.sns>i{}