body{
    margin: 0;
    padding: 0;
}
div.mnWrap{}
div.mnWrap>div.image{
    width: 100%;
    height: 840px;
    background-color: #ccc;
    border-radius: 50%;
}
div.mnWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    height: 840px;
}
div.mnWrap>div.main>h1{}
div.mnWrap>div.main>p{}
div.mnWrap>div.main>button{}