div.hdrWrap>div.header>ul.nav>li{
    display: none;
}
div.hdrWrap>div.header>ul.nav>li:nth-of-type(4){
    display: block;
}
div.mnWrap>div.main{
    display: none;
}
div.mnWrap>div.image{
    height: 200px;
}
div.cntWrap>div.content>div.header>p{
    display: none;
}
div.cntWrap>div.content>div.section{
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01{
    height: 920px;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: 100%;
    margin: 0;
}
div.cntWrap>div.content.cnt01>div.section>div.article:nth-of-type(2){
    margin-top: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    padding: 20px 40px 0 40px;
    height: 180px ;
}
div.bnrWrap>div.benner{
    height: 160px;
}
div.bnrWrap>div.benner>div.image{
    width: calc(50% - 20px);
    height: 160px;
}
div.bnrWrap>div.benner>div.image:nth-of-type(3){
    display: none;
}
div.cntWrap>div.content.cnt02{
    height: 920px;
}
div.cntWrap>div.content.cnt02>div.section>div.article{
    margin: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-of-type(2){
    margin-top: 0;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-of-type(3){
    margin-top: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.article:nth-of-type(1){
    display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    width: 100%;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts{
    width: 100%;
    padding: 20px 40px 0 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.texts>div.sns{
    display: block;
}
div.ftrWrap{
    margin-top: 40px;
}
div.ftrWrap>div.footer{
    height: 200px;
}
div.ftrWrap>div.footer>p{
    width: 50%;
    margin-top: 0;
}
div.ftrWrap>div.footer>div.sns{
    margin-top: 0;
}